doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")
        title けいじばん課題制作
        link(rel="stylesheet" href="/css/bbs.css")
        script(src="/js/main.js" type="module")
    body
        header
            h1: a(href="/") けいじばん
        main
            block body